:root {
    --main-text:black;
    --main-bg:white;
    --menu-btn-color:#270e6596;
    --menu-bg-color:rgba(221, 147, 253, 0.8);
}

@media (prefers-color-scheme: dark){
    :root{
        --main-text:white;
        --main-bg:black;
        --menu-btn-color:#6333dc96;
        --menu-bg-color:rgba(70, 26, 88, 0.8);
    }

	a{color:#93d7f7;}
}

body{
    display: block;
    color: var(--main-text);
    background-color: var(--main-bg);
}

.main{
    display: grid;
    width:100%; height:100vh;
    grid-template-areas: "a " "c" "d" "e";
    grid-template-columns: 1fr;
    grid-template-rows: 8em 5em 1fr 3em;
    margin: 0 auto;
}

header{
    grid-area: a;
    margin: auto 0;
}

.hamburger-menu{
    display:none;
}

.nav1{
    grid-area: c;
    width: 100%;
    height: 70px;
    background-color: var(--menu-bg-color);
    padding-top: 5px;
    box-sizing: border-box;
}

.ul1 {
    display: flex;
}
.li1 {
    list-style: none;
}

.a1{
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
}

.top{
    grid-area: d;
}

.bottom{
    grid-area: e;
}

@media (max-width:800px){
    .main{
        grid-template-areas: "a" "d" "e";
        grid-template-columns: 1fr;
        grid-template-rows: 8em 1fr 6.75em;
    }
    .box{
        display:none;
    }

    .hamburger-menu{
        display: block;
    }

    .menu-btn {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: var(--menu-btn-color);
    }

    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #ffffff;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 8px;
    }
    .menu-btn span:after {
        top: 8px;
    }

    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    #menu-btn-check {
        display: none;
    }
    
    .menu-content {
        width: 50%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;/*leftの値を変更してメニューを画面外へ*/
        z-index: 80;
        background-color: var(--menu-bg-color);
        transition: all 0.5s;/*アニメーション設定*/
    }
    .menu-content ul {
        padding: 70px 10px 0;
    }
    .menu-content ul li {
        border-bottom: solid 1px #ffffff;
        list-style: none;
    }
    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color:#ffffff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    .menu-content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }

    #menu-btn-check:checked ~ .menu-content {
        left: 50%;/*メニューを画面内へ*/
    }
}
