body{
    display: block;
    background-color: #fff;
}

.main{
    display: grid;
    width:100%; height:100vh;
    grid-template-areas: "a a" "c d" "c e";
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 8em 1fr 6.75em;
    margin: 0 auto;
}

header{
    grid-area: a;
}

.box{
    grid-area: c;
    margin: auto;
}

.top{
    grid-area: d;
}

.bottom{
    grid-area: e;
}